<div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2">
            <div class="dropdown">
              <!-- Gender  -->
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Gender
              </button>
              <ul class="dropdown-menu dropdown-card">
                <div class="card">
                  <div class="card-body">
                    <li class="list">
                      <a class="dropdown-item btn btn-light" href="#">Male</a>
                    </li>
                    <li class="list">
                      <a class="dropdown-item btn btn-light" href="#">Female</a>
                    </li>
                    <li lass="list">
                      <a class="dropdown-item btn btn-light" href="#">Other</a>
                    </li>
                  </div>
                  <hr />

                  <button type="button" class="btn btn-danger submit-button">
                    Submit
                  </button>
                </div>
              </ul>
            </div>
          </div>

          <!-- range  -->

          <div class="col-md-2">
            <div class="dropdown">
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Range
              </button>
              <ul class="dropdown-menu dropdown-card">
                <div class="card">
                  <div class="card-body" style="display: block">
                    <div class="row">
                      <h5 style="margin-top: 10px">
                        &nbsp; &nbsp; &nbsp;Select Range
                      </h5>

                      <label
                        for="customRange1"
                        class="form-label select-range"
                      ></label>
                      <input
                        type="range"
                        class="form-range select-range"
                        id="customRange1"
                        style="width: 300px"
                      />
                    </div>

                    <br />
                    <br />
                    <div class="row range-price">
                      <div class="col-md-6">
                        <label for="minPrice">Min Price</label>
                        <input
                          type="number"
                          class="form-control"
                          id="minPrice"
                          value="5399"
                          readonly
                        />
                      </div>
                      <div class="col-md-6">
                        <label for="maxPrice">Max Price</label>
                        <input
                          type="number"
                          class="form-control"
                          id="maxPrice"
                          value="33299"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                  <hr />
                  <button type="button" class="btn btn-danger submit-button">
                    Submit
                  </button>
                </div>
              </ul>
            </div>
          </div>

          <div class="col-md-2">
            <div class="dropdown">
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Amenities
              </button>

              <ul class="dropdown-menu dropdown-card">
                <div class="card">
                  <div class="card-body">
                    <div class="amenities-container">
                      <div>
                        <h5>PG Services</h5>
                      </div>
                      <br />
                      <hr style="color: black !important" />

                      <div class="amenity-item btn btn-light">
                        <i class="fa fa-shower"></i>
                        <span>Attached or Shared Bathroom</span>
                      </div>
                      <div class="amenity-item btn btn-light">
                        <i class="fa-solid fa-broom"></i>
                        <span>Regular Housekeeping</span>
                      </div>
                      <div class="amenity-item btn btn-light">
                        <i class="fa fa-wifi"></i>
                        <span>Wi-Fi</span>
                      </div>
                      <div class="amenity-item btn btn-light">
                        <i class="fas fa-tshirt"></i>
                        <span>Laundry Facilities</span>
                      </div>
                      <div class="amenity-item btn btn-light">
                        <i class="fa-solid fa-snowflake"></i>
                        <span>Air Conditioning</span>
                      </div>
                      <div class="amenity-item btn btn-light">
                        <i class="fa fa-lock"></i>
                        <span>Security</span>
                      </div>
                      <div class="amenity-item btn btn-light">
                        <i class="fa-solid fa-dumbbell"></i>
                        <span>Gym or Fitness Center</span>
                      </div>
                      <div class="amenity-item btn btn-light">
                        <i class="fas fa-tv"></i>
                        <span>Entertainment Area</span>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <button type="button" class="btn btn-danger submit-button">
                    Submit
                  </button>
                </div>
              </ul>
            </div>
          </div>

          <div class="col-md-2">
            <div class="dropdown">
              <!-- Amenities  -->
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                City/Locality:
              </button>
            </div>
          </div>

          <div class="col-md-1">
            <h3 style="color: white">|</h3>
          </div>

          <div class="col-md-1">
            <div class="dropdown">
              <!-- More filter  -->
              <button
                class="btn btn-light dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa fa-filter"></i> &nbsp; More Filter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />